<div class="container">
    <form (ngSubmit)="submitSignupForm()">
        <div class="form-group">
            <label for="userId"><b>Enter Your Name :</b></label>
            <input type="text" class="form-control" placeholder="Please Enter Your Name" id="userId" name="userId"
                [(ngModel)]="userId" required>
        </div>
        <div class="form-group">
            <label for="userEmail"><b>Enter Your Email :</b></label>
            <input type="email" class="form-control" placeholder="Please Enter Your Email" id="userEmail"
                name="userEmail" [(ngModel)]="userEmail" required>
        </div>
        <div class="form-group">
            <label for="userPhoneNumber"><b>Enter Your Phone Number :</b></label>
            <input type="tel" maxlength="10" pattern="[0-9]*" class="form-control"
                placeholder="Please Enter Your Phone Number" id="userPhoneNumber" name="userPhoneNumber"
                [(ngModel)]="userPhoneNumber" required>
        </div>
        <div class="form-group">
            <label for="password"><b>Enter Your Password :</b></label>
            <input type="password" class="form-control" placeholder="Please Enter Your Password" id="password"
                name="password" [(ngModel)]="password" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword"><b>Confirm Password :</b></label>
            <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"
                placeholder="Confirm Password" [(ngModel)]="confirmPassword" (ngModelChange)="checkPasswordMatch()"
                required>
            <span id="passwordError" class="error" *ngIf="confirmPasswordTouched"
                [ngClass]="passwordMismatch ? 'mismatch' : 'match'">
                {{passwordMismatch ? 'Passwords do not match' : 'Passwords match' }}
            </span>
        </div>
        <div class="signupButton">
            <button style="margin-top: 20px;" type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </form>
</div>